<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiReview</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    
<header class="container">
    <nav>
        <ul>
          <li><a href="/"><h1>MiReview</h1></a></li>
        </ul>
        <ul>
          <!-- Only show if user is logged out -->
          {{#unless logged_in}}
          <li><a href="/login">Log In</a></li>
          {{/unless}}
          <!-- Only show if user is logged in -->
          {{#if logged_in}}
          <li><a href="/post">Post ➕</a></li>
          {{/if}}
          <li><a href="/reviews">Reviews</a></li>
          {{#if logged_in}}
          <li><a href="/myprofile">My Profile</a></li>
          <li><a href="#" id="logout">Log Out</a></li>
          {{/if}}
        </ul>
      </nav>
</header>

<main class="container">
    {{{ body }}}
</main>

<footer class="container">
    <p class="centered">Made with ❤️ ©2024</p>
</footer>

<!-- Only include the logout script if the user is logged in -->
{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}

</body>
</html>