<section>
  <form class="login"></form>
      <formset>
        <label for="username">Email:</label>
        <input type="email" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit" id="loginButton">Log In</button>
      </formset>
  </form>
  <a href="/register"><p class="centered">Create an account</p></a>
</section>

<script src="/js/login.js"></script>


