<section>
    <form>
        <formset>
            <input type="text" name="title" id="title" placeholder="Title">
            <textarea name="review" id="review" placeholder="Write a review about your experience.." aria-label="Write a review"></textarea>
            <input type="submit" id="postReviewButton" value="Post!">
        </formset>
    </form>
</section>

<script src="/js/post.js"></script>
