<article class="centered profile" data-theme="dark">
    <header>
        <hgroup>
            <h2>User Profile</h2>
        </hgroup>
    </header>

    <main class="left-aligned">
        <h4>Name: {{ user_name }}</h4>
        <h4>Email: {{ user_email }}</h4>
        <h4>No. of Reviews: {{ total_reviews }} </h4>
    </main>
</article>