<section>
    <form class="login">
        <formset>
          <label for="name">Name:</label>
          <input type="text" name="email" id="register_name" required>
          <label for="email">Email:</label>
          <input type="email" name="email" id="register_user" required>
          <label for="password">Password:</label>
          <input type="password" name="password" id="register_pass" required>
          <button type="submit" id="registerButton">Create Account</button>
        </formset>
    </form>
</section>

<script src="/js/register.js"></script>