<section>
    <form>
        <formset>
            <input type="text" name="title" id="title" placeholder="Review Title">
            <textarea name="review" id="review" placeholder="Write a review about your experience.." aria-label="Write a review"></textarea>
            <input type="submit" value="Post!">
        </formset>
    </form>
</section>